$sm:   576px;
$md:   768px;
$lg:   992px;
$xl:  1200px;

$standard-def : "(-webkit-max-device-pixel-ratio: 1.49), (max-resolution: 143.9dpi), (max-resolution: 1.5dppx)";
$retina :       "(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.49dppx)";
