<!DOCTYPE html>
<html>
  <head>
    <title>Microformats : Meaningful HTML</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", media: "all" %>
  </head>

  <body>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
